<div>

  <div class="jumbotron">
    <div class="container text-center">
      <img src="../../assets/logo.png" alt="Vue logo">
      <h1 class="display-4 mb-4">{{ msg }}</h1>
      <b-button size="lg" variant="primary" href="https://vuejs.org/" target="_blank">
        Learn more <i class="fa fa-angle-double-right"></i>
      </b-button>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <h2>Essential Links</h2>
        <ul class="list-unstyled">
          <li>
            <a href="https://vuejs.org" target="_blank">
              Core Docs
            </a>
          </li>
          <li>
            <a href="https://forum.vuejs.org" target="_blank">
              Forum
            </a>
          </li>
          <li>
            <a href="https://chat.vuejs.org" target="_blank">
              Community Chat
            </a>
          </li>
          <li>
            <a href="https://twitter.com/vuejs" target="_blank">
              Twitter
            </a>
          </li>
          <li>
            <a href="http://vuejs-templates.github.io/webpack/" target="_blank">
              Docs for This Template
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm text-center">
        <h2>Ecosystem</h2>
        <ul class="list-unstyled">
          <li>
            <a href="http://router.vuejs.org/" target="_blank">
              vue-router
            </a>
          </li>
          <li>
            <a href="http://vuex.vuejs.org/" target="_blank">
              vuex
            </a>
          </li>
          <li>
            <a href="http://vue-loader.vuejs.org/" target="_blank">
              vue-loader
            </a>
          </li>
          <li>
            <a href="https://github.com/vuejs/awesome-vue" target="_blank">
              awesome-vue
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
