<div>

  <div class="jumbotron">
    <div class="container text-center">
      <img src="../../assets/logo.png" alt="Vue logo">
      <h1 class="display-3">Hello, Vue!</h1>
      <p>This is a template for a simple marketing or informational website.
        <br>
        It includes a large callout called a jumbotron and three supporting pieces of content.
        <br>
        Use it as a starting point to create something more unique.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
          porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
          porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
          commodo,
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>
  </div>
</div>

<!--
<div class="hello">
  <h1>{{ msg }}</h1>
  <h2>Essential Links</h2>
  <ul>
    <li>
      <a
        href="https://vuejs.org"
        target="_blank"
      >
        Core Docs
      </a>
    </li>
    <li>
      <a
        href="https://forum.vuejs.org"
        target="_blank"
      >
        Forum
      </a>
    </li>
    <li>
      <a
        href="https://chat.vuejs.org"
        target="_blank"
      >
        Community Chat
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/vuejs"
        target="_blank"
      >
        Twitter
      </a>
    </li>
    <li>
      <a
        href="http://vuejs-templates.github.io/webpack/"
        target="_blank"
      >
        Docs for This Template
      </a>
    </li>
  </ul>
  <h2>Ecosystem</h2>
  <ul>
    <li>
      <a
        href="http://router.vuejs.org/"
        target="_blank"
      >
        vue-router
      </a>
    </li>
    <li>
      <a
        href="http://vuex.vuejs.org/"
        target="_blank"
      >
        vuex
      </a>
    </li>
    <li>
      <a
        href="http://vue-loader.vuejs.org/"
        target="_blank"
      >
        vue-loader
      </a>
    </li>
    <li>
      <a
        href="https://github.com/vuejs/awesome-vue"
        target="_blank"
      >
        awesome-vue
      </a>
    </li>
  </ul>
</div>
-->
